<div class="modal fade" id="rolesModal" data-controller="member-roles-modal">
    <div class="modal-dialog modal-dialog-centered">
        <turbo-frame id="member-roles-frame" class="d-block w-100">
            <div class="text-app-primary bg-app-elevated border border-secondary modal-content">
                <div class="d-flex flex-column justify-content-center align-items-center py-5 text-app-muted modal-body">
                    <div class="mb-2 spinner-border spinner-border-sm" role="status"></div>
                    <span class="small">Ładowanie ról...</span>
                </div>
            </div>
        </turbo-frame>
    </div>
</div>
