{% extends 'layout_app.html.twig' %}

{% block title %}
    {% if server %}
        {{ server.name }} - ChatApp
    {% else %}
        Strona główna - ChatApp
    {% endif %}
{% endblock %}

{% block content %}
    <div class="d-flex flex-grow-1 overflow-hidden">
        <div class="chat-column">
            <twig:Chat:Header
                :currentChannel="channel"
                :currentServer="server"
            />

            <twig:Chat:MessageList
                :messages="messages"
                :channel="channel"
                :server="server"
                :lastReadMessage="lastReadMessage|default(null)"
                :firstUnreadMessage="firstUnreadMessage|default(null)"
            />

            <twig:Chat:Input
                :server="server"
                :channel="channel"
            />
        </div>

        {% if server %}
            <twig:Server:MemberList :server="server" />
        {% endif %}
    </div>

    {% include 'components/Server/_roles_modal.html.twig' %}
    {% include 'components/Server/_kick_member_modal.html.twig' %}
    {% include 'components/Server/_ban_member_modal.html.twig' %}
{% endblock %}
