{% extends 'base.html.twig' %}

{% block body %}
    <div class="app-layout d-flex overflow-hidden">
        <twig:Server:Rail :currentServer="server ?? null" />

        {% block sidebar %}
            <twig:Server:Sidebar :currentServer="server ?? null"
                                 :currentChannel="channel ?? null"/>
        {% endblock %}

        <turbo-frame id="main_content"
                     class="flex-grow-1 d-flex flex-column bg-app-dark min-w-0 min-h-0 overflow-hidden"
                     data-turbo-action="advance">
            {% block content %}{% endblock %}
        </turbo-frame>
    </div>
    {% include 'components/Friend/_remove_friend_modal.html.twig' %}
{% endblock %}
